.team_section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  .team_container {
    display: flex;
    margin-top: 20px;
    width: 1280px;
    justify-content: space-around;
    align-self: center;

    .team_wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      // justify-content: center;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
    }
  }

  .load_more_wrapper {
    margin: 10px;

    button {
      padding: 8px 16px;
      border: 1px solid #fff;
      border-radius: 10px;
      box-sizing: border-box;
      border: 1px solid black;
      color: black;
      font-size: medium;
      cursor: pointer;
    }

    button:hover {
      background-color: #ebe8ee;
    }
  }
}

@media only screen and (max-width: 430px) {
  .team_section {
    .team_container {
      .team_wrapper {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
